body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color:#8B6C5C;
    background-image: url('https://example.com/your-background-image.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
    padding: 10px;
    background-color:#040442; /* Semi-transparent background */
}

main {
    padding: 20px;
}



.events {
    max-width: 8000px;
    margin: auto;
    background-color:#8B6C5C;
    padding: 50px;
    border-radius: 20px;
    border-color: black;
}

.event {
    margin: 20px 0;
    padding: 25px;
    background-color:#EDE8D0;
    border-radius: 5px;
}

h1, h2 {
    color:#8B6C5C; /* Gold color for headers */
    padding:50px;
}
button {s
    padding: 10px 20px;
    background-color: #79a3bb;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #1697ce;
}

footer {
    text-align: center;
    padding: 20px;
    background-color:#040442;
}
